@font-face {
  font-family: "iconfont"; /* Project id 3164977 */
  /* Color fonts */
  src: 
       url('ttf/iconfont.woff2?t=1655363838531') format('woff2'),
       url('ttf/iconfont.woff?t=1655363838531') format('woff'),
       url('ttf/iconfont.ttf?t=1655363838531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuce:before {
  content: "\e6b3";
}

.icon-denglu:before {
  content: "\e604";
}

.icon-chuku:before {
  content: "\e67d";
}

.icon-ruku:before {
  content: "\e680";
}

.icon-nan:before {
  content: "\e8b3";
}

.icon-nv:before {
  content: "\e8b4";
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-cangpeitubiao_xiugaixiugaiziliao:before {
  content: "\e625";
}

.icon-sousuo:before {
  content: "\100c6";
}

.icon-darenrenzheng:before {
  content: "\100d4";
}

.icon-yonghurenzheng:before {
  content: "\100d5";
}

.icon-tuichu:before {
  content: "\e601";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-icon_logout:before {
  content: "\e62e";
}

.icon-shenqingquanxian:before {
  content: "\e640";
}

.icon-changyonggoupiaorenshanchu:before {
  content: "\e645";
}

.icon-pinleizengjia:before {
  content: "\eaf9";
}

.icon-ziyuanxhdpi:before {
  content: "\e647";
}

.icon-huodong:before {
  content: "\100bb";
}

.icon-fujin:before {
  content: "\100bc";
}

.icon-guanjun:before {
  content: "\100bd";
}

.icon-yonghu:before {
  content: "\100be";
}

.icon-shanchu:before {
  content: "\100bf";
}

.icon-wuzicangku-copy:before {
  content: "\e600";
}

.icon-biaoqingbao:before {
  content: "\10036";
}

.icon-zhuanhuan:before {
  content: "\e612";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-huojian:before {
  content: "\eddf";
}

.icon-diannao:before {
  content: "\edeb";
}

.icon-banquan:before {
  content: "\e98b";
}

.icon-anquanyinsi:before {
  content: "\e98c";
}

.icon-dicengjiagou:before {
  content: "\e98d";
}

.icon-cangchucangku:before {
  content: "\e98e";
}

.icon-chayan:before {
  content: "\e98f";
}

